Markup-Language/UNIT 4 - Validation DTD - XML Schema and XML - XML/XML Schema - XML/A407/Factura/factura.xsd

<?xml version="1.0"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="factura">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cliente" type="xs:string"/>     
            </xs:sequence>
            <xs:attribute name="numero" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
