Markup-Language/UNIT 4 - Validation DTD - XML Schema and XML - XML/XML Schema - XML/A401/ejercicio1/Cancion.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="cancion">
		<xs:complexType>
			<xs:sequence>
				<!-- Inserte tres elementos de tipo simple -->
                                    <!-- 1. titulo --> 
                                    <xs:element name="titulo" type="xs:string"/>
                                    <!-- 2. año --> 
                                    <xs:element name="anyo" type="xs:gYear"/>
                                    <!-- 3. artista -->
                                    <xs:element name="artista" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>

