Markup-Language/UNIT 4 - Validation DTD - XML Schema and XML - XML/XML Schema - XML/A407/Documento/documento.xsd

<?xml version="1.0"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="documento">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titulo" type="xs:string"/>
                <xs:element name="fecha" type="xs:date"/>
            </xs:sequence>
            <xs:attribute name="tipo" type="xs:string" 
            fixed="oficial"/>
        </xs:complexType>
    </xs:element>
</xs:schema>