Markup-Language/UNIT 4 - Validation DTD - XML Schema and XML - XML/DTD - XML/A403/ejercicio2/pedidos.dtd

<!ELEMENT pedidos (pedido*)>
<!ELEMENT pedido ((empresa | cliente), producto+, fecha, factura?)>

<!ELEMENT empresa (#PCDATA)>
<!ELEMENT cliente (#PCDATA)>
<!ELEMENT producto (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>

<!ELEMENT factura (emisor, total, fecha)>
<!ELEMENT emisor (#PCDATA)>
<!ELEMENT total (#PCDATA)>

<!ATTLIST empresa CIF CDATA #REQUIRED>
<!ATTLIST cliente NIF CDATA #REQUIRED>
<!ATTLIST factura numfactura CDATA #REQUIRED
                  cliente CDATA #REQUIRED>