Markup-Language/UNIT 4 - Validation DTD - XML Schema and XML - XML/DTD - XML/A404/EventosCulturales/eventos.dtd

<!ELEMENT eventos (evento+)>

<!ELEMENT evento (nombre, fecha, hora, lugar, informacion?, (gratuito | pago)?)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT hora (#PCDATA)>
<!ELEMENT lugar (#PCDATA)>
<!ATTLIST evento codigo ID #REQUIRED>
<!ELEMENT informacion (#PCDATA)>
<!ELEMENT gratuito (#PCDATA)>
<!ELEMENT pago (#PCDATA)>
